{% extends 'base.html' %}
{% block styles -%}
{{ super() }}
    <style type="text/css">
		.selectize-control.select_player_name_form .selectize-dropdown > div {
			border-bottom: 1px solid rgba(0,0,0,0.05);
		}
		.selectize-control.select_player_name_form .selectize-dropdown .by {
			font-size: 11px;
			opacity: 0.8;
		}
		.selectize-control.select_player_name_form .selectize-dropdown .by::before {
			content: 'by ';
		}
		.selectize-control.select_player_name_form .selectize-dropdown .name {
			font-weight: bold;
			margin-right: 5px;
		}
		.selectize-control.select_player_name_form .selectize-dropdown .title {
			display: block;
		}
		.selectize-control.select_player_name_form .selectize-dropdown .description {
			font-size: 12px;
			display: block;
			color: #a0a0a0;
			white-space: nowrap;
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.selectize-control.select_player_name_form .selectize-dropdown .meta {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 10px;
		}
		.selectize-control.select_player_name_form .selectize-dropdown .meta li {
			margin: 0;
			padding: 0;
			display: inline;
			margin-right: 10px;
		}
		.selectize-control.select_player_name_form .selectize-dropdown .meta li span {
			font-weight: bold;
		}
		.selectize-control.select_player_name_form::before {
			-moz-transition: opacity 0.2s;
			-webkit-transition: opacity 0.2s;
			transition: opacity 0.2s;
			content: ' ';
			z-index: 2;
			position: absolute;
			display: block;
			top: 12px;
			right: 34px;
			width: 16px;
			height: 16px;
			background: url("/static/production/images/spinner.gif");
			background-size: 16px 16px;
			opacity: 0;
		}
		.selectize-control.select_player_name_form.loading::before {
			opacity: 0.4;
		}
		</style>
{% endblock styles -%}

{% block content -%}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Train player models</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="train_form" class="form-horizontal form-label-left" data-parsley-validate="">
                            <div class="form-group">
                                <label for="train_select" class="control-label col-md-3 col-sm-3 col-xs-12">Train players</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="train-select" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="train_select" value="all" checked /> All
                                        </label>
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="train_select" value="one" /> One
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="pname_form">
                                <label for="player_name" class="control-label col-md-3 col-sm-3 col-xs-12">Player Name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <!--<input id="f_player_name" name="player_name" type="text" placeholder="Player name" class="form-control col-md-10" style="float: left;" data-parsley-length="[2, 20]" required=""/>-->
                                    <!--<div id="player-name-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>-->
                                    <!--<input id="select_player_name" name="player_name" type="text" placeholder="Choose player name..." data-parsley-length="[2, 20]" required=""/>-->
                                    <select id="select_player_name" class="select_player_name_form" placeholder="Pick a player..."></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player_type" class="control-label col-md-3 col-sm-3 col-xs-12">Player type</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="p-type" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="player_type" value="batter" required=""/> Batter
                                        </label>
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="player_type" value="pitcher"/> Pitcher
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select_predictor" class="control-label col-md-3 col-sm-3 col-xs-12">Predictor</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="select_predictor" name="model_nickname" required="" placeholder="Specify predictor..." data-parsley-validate-if-empty="true"/>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="daterange_form">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date range</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" style="width: 200px" name="daterange" id="daterange" class="form-control"/>
                                </div>
                            </div>
                            <div class="invalid-form-error-message"></div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{%- endblock content %}

{% block scripts -%}
{{ super() }}
<!-- jQuery ui autocomplete -->
<script src="/static/vendors/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="/static/vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Selectize -->
<script src="/static/vendors/selectize-dups/dist/js/standalone/selectize.js"></script>
<!-- CodeMirror -->
<script src="/static/vendors/codemirror/lib/codemirror.js"></script>
<script src="/static/vendors/codemirror/mode/yaml/yaml.js"></script>
<!-- parsley Js -->
<script src="/static/vendors/parsleyjs/dist/parsley.js"></script>
<!-- FastClick -->
<script src="/static/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/static/vendors/nprogress/nprogress.js"></script>

<!-- /Selectize -->

<script>

$( function() {
    function setDateRange (dateRangeObj, startDate, endDate) {
        var dateRangeOptions = {
            startDate: startDate,
            endDate: endDate,
            format: 'DD/MM/YYYY',
        }
        dateRangeObj.prop('value', startDate + ' - ' + endDate);
        $('#daterange').data('daterangepicker').setOptions(dateRangeOptions , null);
    }
    // Show/hide player_name selector based on train_select
    togglePlayerNameSelect();
    $("input[name=train_select]").change(togglePlayerNameSelect);
    function togglePlayerNameSelect() {
        var selectedOption = $("input:radio[name=train_select]:checked").val()
        if (selectedOption == 'one') {
            $("#pname_form").show();
            //$("#daterange_form").show();
            
        } else  {
            $("#pname_form").hide();
            //$("#daterange_form").hide();
        }
    }
       


    $.globaldata = { 
        selectedPlayerId: -1
    }; 
    var dateRangeOptions = {
        maxDate: null,
        minDate: null,
        startDate: '01/01/2011',
        endDate: '01/01/2017',
        format: 'DD/MM/YYYY',
    }
    var dateRangePicker = $('#daterange').daterangepicker(dateRangeOptions, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
    
    var selectControl = $('#select_player_name').selectize({
        maxItems: 1,
        valueField: 'id',
        labelField: 'value',
        searchField: 'value',
        optgroupField: 'category',
        optgroups: [
            {value: 'batter', label: 'Batters'},
            {value: 'pitcher', label: 'Pitchers'}
        ],
        create: false,
        closeAfterSelect: true,
        onChange: function(value) {
            var playerId = this.options[value].id;
            var startDate = this.options[value].startDate;
            var endDate = this.options[value].endDate;
            $.globaldata = { 
                selectedPlayerId: playerId,
            }; 
            setDateRange(dateRangePicker, startDate, endDate);
        },
        load: function(query, callback) {
            if (!query.length) return callback();
            $.ajax({
                url: "{{ url_for('.player_names') }}",
                data: { query : query },
                type: 'GET',
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res);
                }
            });
        }
    });
    var $select = $('#select_predictor').selectize({
        maxItems: 1,
        valueField: 'title',
        labelField: 'title',
        searchField: 'title',
        options: [
        {% for model in models %}
        { title: '{{ model }}' },
        {% endfor %}
        ],
    });

});
</script>
<!-- /Selectize -->
<!-- /code mirror for yaml input -->
<script>
$(document).ready(function() {
    $("#train_form").on('submit', function(e){
        e.preventDefault();
        var form = $(this);

        form.parsley().validate();

        if (form.parsley().isValid()){
            //Retreive the data from the form:
            var data = $('#train_form').serializeArray();

            //Add in additional data to the original form data:
            data.push({name:'player_id', value: $.globaldata.selectedPlayerId});

            //Submit the form via Ajax POST request:
            $.ajax({
                type: 'POST',
                url:  "{{ url_for('.fit') }}",
                data:  data,
                dataType: 'json'
            }).done(function(data) {
                hgrowl(data.message, data.type);
            });
        }
    });
});

(function ($) {
  $.fn.serializeAll = function () {
    var data = $(this).serializeArray();
          
    $(':disabled[name]', this).each(function () { 
        data.push({ name: this.name, value: $(this).val() });
    });
      
    return data;
  }
})(jQuery);
</script>
{%- endblock scripts %}
