{% extends 'base.html' %}

{% block content -%}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
        </div>

        <div class="clearfix"></div>
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Train player models</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id='train_form' class="form-horizontal form-label-left" onsubmit="processForm()">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Player Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="f_player_name" name="pname" type="text" placeholder="Player name" class="typeahead form-control col-md-10" style="float: left;" data-validate-length-range="3" required="required"  />
                                <div id="player-name-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Player type</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="ptype" value="batter">Batter
                                    </label>
                                    <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                        <input type="radio" name="ptype" value="pitcher"> Pitcher
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Predictor</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select id="select_predictor" class="select2_single form-control" tabindex="-1">
                                    <option></option>
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="CO">Colorado</option>
                                    <option value="ID">Idaho</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="UT">Utah</option>
                                    <option value="WY">Wyoming</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TX">Texas</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Transforms</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select id="select_datatransforms" class="select2_multiple form-control" multiple="multiple">
                                    <option>Choose option</option>
                                    <option>Option one</option>
                                    <option>Option two</option>
                                    <option>Option three</option>
                                    <option>Option four</option>
                                    <option>Option five</option>
                                    <option>Option six</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Switch</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="">
                                    <label>
                                        <input type="checkbox" class="js-switch" checked /> Checked
                                    </label>
                                </div>
                                <div class="">
                                    <label>
                                        <input type="checkbox" class="js-switch" /> Unchecked
                                    </label>
                                </div>
                                <div class="">
                                    <label>
                                        <input type="checkbox" class="js-switch" disabled="disabled" /> Disabled
                                    </label>
                                </div>
                                <div class="">
                                    <label>
                                        <input type="checkbox" class="js-switch" disabled="disabled" checked="checked" /> Disabled Checked
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date range</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" style="width: 200px" name="daterange" id="daterange" class="form-control" value="03/18/2013 - 03/23/2013" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Textarea <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="hypers_textarea" name="textarea" class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>



                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{%- endblock content %}

{% block scripts -%}
{{ super() }}
<!-- jQuery typeahead -->
<script src="/static/vendors/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="/static/vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
<!-- CodeMirror -->
<script src="/static/vendors/codemirror/lib/codemirror.js"></script>
<script src="/static/vendors/codemirror/mode/yaml/yaml.js"></script>
<!-- validator -->
<script src="/static/vendors/validator/validator.min.js"></script>

<!-- /jQuery autocomplete -->

<script>
$( function() {
    var selectedPlayerId;
    function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function( ul, items ) {
            var that = this,
            currentCategory = "";
            $.each( items, function( index, item ) {
                var li;
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                    currentCategory = item.category;
                }
                li = that._renderItemData( ul, item );

                if ( item.category ) {
                    li.attr( "aria-label", item.category + " : " + item.label );
                }
            });
        }
    });
    $( "#f_player_name" )
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).autocomplete( "instance" ).menu.active ) {
                event.preventDefault();
            }
        })
    // .autocomplete({
    .catcomplete({
        source: function( request, response ) {
            $.getJSON( "{{ url_for('.player_names') }}", {
                term: extractLast( request.term )
            }, response );
        },
        search: function() {
            // custom minLength
            var term = extractLast( this.value );
            if ( term.length < 2 ) {
                return false;
            }
        },
        focus: function() {
            // prevent value inserted on focus
            return false;
        },
        select: function( event, ui ) {
            var terms = split( this.value );
            this.value = ui.item.value;
            $.mynamespace = { 
                selectedPlayerId: ui.item.id, 
            }; 
            return false;
        }
    });
} );
</script>


<!-- Select2 -->
<script>
$(document).ready(function() {
    $("#select_predictor").select2({
        placeholder: "Select a predictor...",
        allowClear: true
    });
    $("#select_datatransforms").select2({
        placeholder: "Select data transforms in order...",
        allowClear: true
    });
});
</script>
<!-- /Select2 -->

<!-- /bootstrap-daterangepicker -->
<script>
$(document).ready(function() {
    $('#daterange').daterangepicker(null, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});
</script>
<!-- /bootstrap-daterangepicker -->
<!-- /code mirror for yaml input -->
<script>
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("hypers_textarea"), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true
});
</script>
<!-- /code mirror for yaml input -->
<script>
/*
$('form').submit(function(e) {
debugger;
e.preventDefault();
var submit = true;

// evaluate the form using generic validaing
if (!validator.checkAll($(this))) {
submit = false;
}

if (submit)
this.submit();

return false;
});
 */
function processForm() {
    //Retreive the data from the form:
    var data = $('#train_form').serializeArray();

    //Add in additional data to the original form data:
    data.push({name:'id', value: $.mynamespace.selectedPlayerId});

    //Submit the form via Ajax POST request:
    $.ajax({
        type: 'POST',
        url:  "{{ url_for('.fit') }}",
        data:  data,
        dataType: 'json'
    }).done(function(data) {
        //The code below is executed asynchronously, 
        //meaning that it does not execute until the
        //Ajax request has finished, and the response has been loaded.
        //This code may, and probably will, load *after* any code that
        //that is defined outside of it.
        alert("Thanks for the submission!");
        console.log("Response Data" +data); //Log the server response to console
    });
}
</script>

{%- endblock scripts %}
