{% extends 'base.html' %}

{% block content -%}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Train player models</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="train_form" class="form-horizontal form-label-left" data-parsley-validate="">
                            <div class="form-group">
                                <label for="train_select" class="control-label col-md-3 col-sm-3 col-xs-12">Train players</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="train-select" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="train_select" value="all" checked /> All
                                        </label>
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="train_select" value="one" /> One
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="pname_form">
                                <label for="player_name" class="control-label col-md-3 col-sm-3 col-xs-12">Player Name</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <!--<input id="f_player_name" name="player_name" type="text" placeholder="Player name" class="form-control col-md-10" style="float: left;" data-parsley-length="[2, 20]" required=""/>-->
                                    <!--<div id="player-name-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>-->
                                    <input id="select_player_name" name="player_name" type="text" placeholder="Player name" data-parsley-length="[2, 20]" required=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="player_type" class="control-label col-md-3 col-sm-3 col-xs-12">Player type</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="p-type" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="player_type" value="batter" required=""/> Batter
                                        </label>
                                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="player_type" value="pitcher"/> Pitcher
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select_predictor" class="control-label col-md-3 col-sm-3 col-xs-12">Predictor</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="select_predictor" name="select_predictor" required="" placeholder="Specify predictor..." data-parsley-validate-if-empty="true"/>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Transforms</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="select_datatransforms" name="select_datatransforms" multiple="multiple" placeholder="Specify list of transforms...">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="daterange_form">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date range</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" style="width: 200px" name="daterange" id="daterange" class="form-control"/>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Hypers</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="f_hypers_textarea" name="f_hypers" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Data Columns</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="f_datacols_textarea" name="f_datacols" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>

                            <div class="invalid-form-error-message"></div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{%- endblock content %}

{% block scripts -%}
{{ super() }}
<!-- jQuery ui autocomplete -->
<script src="/static/vendors/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="/static/vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Selectize -->
<script src="/static/vendors/selectize-dups/dist/js/standalone/selectize.js"></script>
<!-- CodeMirror -->
<script src="/static/vendors/codemirror/lib/codemirror.js"></script>
<script src="/static/vendors/codemirror/mode/yaml/yaml.js"></script>
<!-- parsley Js -->
<script src="/static/vendors/parsleyjs/dist/parsley.js"></script>
<!-- FastClick -->
<script src="/static/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/static/vendors/nprogress/nprogress.js"></script>


<script>
$( function() {
    // Show/hide player_name selector based on train_select
    togglePlayerNameSelect();
    $("input[name=train_select]").change(togglePlayerNameSelect);
    function togglePlayerNameSelect() {
        var selectedOption = $("input:radio[name=train_select]:checked").val()
        if (selectedOption == 'one') {
            $("#pname_form").show();
            $("#daterange_form").show();
            
        } else  {
            $("#pname_form").hide();
            $("#daterange_form").hide();
        }
    }
       


    $.mynamespace = { 
        selectedPlayerId: -1
    }; 
    var dateRangeOptions = {
        maxDate: null,
        minDate: null,
        startDate: null,
        endDate: null,
        format: 'DD/MM/YYYY',
    }
    var dateRangePicker = $('#daterange').daterangepicker(dateRangeOptions, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
    

    function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _create: function() {
            this._super();
            this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
        },
        _renderMenu: function( ul, items ) {
            var that = this,
            currentCategory = "";
            $.each( items, function( index, item ) {
                var li;
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                    currentCategory = item.category;
                }
                li = that._renderItemData( ul, item );

                if ( item.category ) {
                    li.attr( "aria-label", item.category + " : " + item.label );
                }
            });
        }
    });
    /*
    $( "#f_player_name" )
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).autocomplete( "instance" ).menu.active ) {
                event.preventDefault();
            }
        })
    // .autocomplete({
    .catcomplete({
        source: function( request, response ) {
            $.getJSON( "{{ url_for('.player_names') }}", {
                term: extractLast( request.term )
            }, response );
        },
        search: function() {
            // custom minLength
            var term = extractLast( this.value );
            if ( term.length < 2 ) {
                return false;
            }
        },
        focus: function() {
            // prevent value inserted on focus
            return false;
        },
        select: function( event, ui ) {
            var terms = split( this.value );
            this.value = ui.item.value;
            // Setting player ID into global namespace
            $.mynamespace = { 
                selectedPlayerId: ui.item.id, 
            }; 
            var startDate = ui.item.startDate;
            var endDate = ui.item.endDate;

            // Setting dateRangePicker max/mindate
            dateRangePicker.prop('value', startDate + ' - ' + endDate);
            dateRangeOptions.minDate = startDate;
            dateRangeOptions.maxDate = endDate;
            dateRangeOptions.startDate = startDate;
            dateRangeOptions.endDate = endDate;
            $('#daterange').data('daterangepicker').setOptions(dateRangeOptions , null);

            return false;
        }
    });
    */
} );
</script>


<!-- /Selectize -->
<script>
$(document).ready(function() {
    $('#select_player_name').selectize({
        maxItems: 1,
        valueField: 'title',
        labelField: 'title',
        searchField: 'title',
        create: false,
        render: {
            option: function(item, escape) {
                debugger;
            }
        },
        score: function(search) {
            var score = this.getScoreFunction(search);
            return function(item) {
                return score(item) * (1 + Math.min(item.watchers / 100, 1));
            };
        },
        load: function(query, callback) {
            if (!query.length) return callback();
            $.ajax({
                url: "{{ url_for('.player_names') }}",
                data: { query : query },
                type: 'GET',
                error: function() {
                    callback();
                },
                success: function(res) {
                    debugger;
                }
            });
        }
    });
    var $select = $('#select_predictor').selectize({
        maxItems: 1,
        valueField: 'title',
        labelField: 'title',
        searchField: 'title',
        options: [
        {% for id, predictor in predictors %}
        { id:{{ id }}, title: '{{ predictor }}' },
        {% endfor %}
        ],
    });

    var $select = $('#select_datatransforms').selectize({
        maxItems: null,
        valueField: 'title',
        labelField: 'title',
        searchField: 'title',
        hideSelected: false, // from original null
        duplicates: true, // from original false
        options: [
        {% for id, transform in transforms %}
        { id:{{ id }}, title: '{{ transform }}' },
        {% endfor %}
        ],
    });
});
</script>
<!-- /Selectize -->
<!-- /code mirror for yaml input -->
<script>
var hypersCodeMirror = CodeMirror.fromTextArea(document.getElementById("f_hypers_textarea"), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,
    theme: 'base16-light',
});
var datacolsCodeMirror = CodeMirror.fromTextArea(document.getElementById("f_datacols_textarea"), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,
    theme: 'base16-light',
});
</script>
<!-- /code mirror for yaml input -->
<script>
$(document).ready(function() {
    $("#train_form").on('submit', function(e){
        e.preventDefault();
        var form = $(this);

        form.parsley().validate();

        if (form.parsley().isValid()){
            //Retreive the data from the form:
            var data = $('#train_form').serializeArray();


            //Add in additional data to the original form data:
            data.push({name:'player_id', value: $.mynamespace.selectedPlayerId});

            //Submit the form via Ajax POST request:
            $.ajax({
                type: 'POST',
                url:  "{{ url_for('.fit') }}",
                data:  data,
                dataType: 'json'
            }).done(function(data) {
                //The code below is executed asynchronously, 
                //meaning that it does not execute until the
                //Ajax request has finished, and the response has been loaded.
                //This code may, and probably will, load *after* any code that
                //that is defined outside of it.
                alert("Thanks for the submission!");
                console.log("Response Data" +data); //Log the server response to console
            });
        }
    });
});
</script>
{%- endblock scripts %}
